body
{
	line-height:18px;
	background:#fff;
	color:#e2e2e1;
} 


 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{
	color:#e2e2e1;
	margin:0;
}